body{
	background-color: #cccccc;
}

main{
	background-color: #ffffff;
	margin: 0 auto;
	width: 910px;
	height: 1000px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 10px;
	border: 1px solid blue;
}

header{
	max-width: 100%;
	position: relative;
	top:-20px;
	left:-50px;
	display: block;
	max-width: 720px;
}

.iNote{
	
}

#resultTable{
	border: 1px solid #2F5E7C;
	border-collapse:collapse;
	width:75%;
	text-align:center;
}

thead{ 	
	font-weight: bold; 
	background-color: #002046;
	color: #E8E8E8;
}

