body{
	margin: 0 auto;
	background-color: #cccccc;
	min-height: 500px;
}

header, #nav, footer{
	margin: 0 auto;
	width: 970px;
	float: center;
	text-align: center;
	color: #fff;
}

main{
	background-color: #ffffff;
	margin: 0 auto;
	/*width: 1170px;*/
	width: 920px;
	min-height: 500px;
	/*padding: 20px;*/
	/*padding-top: 200px;*/
	padding-left: 50px;
	box-shadow: 0 3px 10px #000;
}

header{
	/*max-width: 100%;
	position: relative;
	top:-20px;
	left:-50px;*/
	display: block;
	/*max-width: 720px;
	float: top;*/
}


#nav{
    
	background-color: #4a4a4a;
	display: block;
}
	#nav li{
        position: relative;
	}
 
    /* first level */
 
	#nav > ul{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
        height: 40px;
		line-height: 40px;
		list-style: none;
    }
	
        #nav > ul > li{
            width: 15%;
            height: 100%;
            float: left;
			
        }
		
		#nav > ul > li:hover {
		background: #002046;
		}
		
		#nav ul li a{
			color: #fff;
			text-decoration: none;
			font-size: 20px;
			text-align: center;
		}
 
    /* second level */
 
    #nav ul li ul{
        display: none;
        position: absolute;
        top: 100%;
		background: #002046;
		list-style: none;
		Width: 200px;
		float: left;
		text-align: left;
    }
        #nav ul li:hover ul{
            display: block;
        }

	#nav ul li ul li{
		text-decoration: none;
		font-size: 20px;
	}
	
	
	a:hover {
    background: #305D7C;
    font-weight: bold;
}

	a:active {
    color: yellow;
    font-weight: bold;
}



.iNote{
	
}

label{
	margin-left: 50px;
}

#pname, #disc{
    margin-left: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

#search{	
}

#resultTable{
	margin: 0;
	border: 0;
	/*border: 0px solid #2F5E7C;*/
	border-collapse:collapse;
	width:95%;
}

thead{ 	
	font-weight: bold; 
	background-color: #002046;
	color: #E8E8E8;
	padding-left: 100px;
	text-align:center;
}

/*Table (body) row Styling*/
tbody tr:nth-child(odd){ background-color:#eee; }
tbody tr:nth-child(even){ background-color:#fff; }


footer{
	background: #002046;
	font-family: monospace;
	font-size: x-large;
}

[type = button]{
	margin-left: 215px;
	margin-top: 30px;
	font-size: 16px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
